body {
  margin: 0;
  font-family: 'Orbitron', sans-serif;
  background: url(img/bg.jpg) no-repeat center center fixed;
  background-size: cover;
  color: #ffffff;
}

.navbar {
  display: flex;
  justify-content: center;
  padding: 20px;
  background: rgba(0, 0, 0, 0.6);
}

.navbar ul {
  list-style: none;
  display: flex;
  gap: 40px;
}

.navbar a {
  color: #66ccff;
  text-decoration: none;
  font-weight: bold;
}

.navbar a:hover {
    text-shadow: 0 0 5px #15f4ee, 0 0 5px #15f4ee;
}

.navbar li {
    transition: all 0.4s;
}

.navbar li:hover {
    transform: scale(1.4);
}




.hero {
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 60px;
    backdrop-filter: brightness(0.8);
}

.content {
  max-width: 600px;
}

.title {
  font-size: 56px;
  line-height: 1.1;
  color: #ffffff;
}

/*------EFECTO NEÓN FLICKER H1------*/
span {
    animation: flicker 5s infinite;
}

h1 {
    font-size: 56px;
    line-height: 1.1;
    color: #15f4ee;
    text-shadow: 5px 5px 39px #15f4ee;
    font-family: 'Orbitron';
}

.flickering-h {
  animation: 10s infinite;
}

.flickering-l {
  animation: latter-flicker 10s infinite;
}

.flickering-c {
    animation: latter-flicker 10s infinite;
}

.flickering-o {
    animation: latter-flicker 10s infinite;
}

@keyframes flicker {
    0%, 19%, 20.99%, 22%, 30%, 62.99%, 64%, 100%{
        opacity: 1;
    }
    20%, 20.99%, 31%, 63%, 63.99%{
        opacity: 0;
    }
}

@keyframes latter-flicker {
    0%, 19%, 22%, 30%, 62.99%, 64%, 68%, 76%, 100% {
        opacity: 1;
    }
    20%, 21.99%, 31%, 63%, 63.99%, 67%, 75% {
        opacity: 0;
    }
}

.subtitle {
  font-size: 24px;
  margin: 20px 0;
  color: #bfefff;
}

.btn {
  background-color: rgba(0, 0, 0, 0);
  color: #15f4ee;
  padding: 15px 34px;
  border-radius: 8px;
  text-decoration: none;
  font-weight: bold;
  border: 2px solid #15f4ee;
  display: inline-block;
  transition: 0.3s;
}

.btn:hover {
    box-shadow: 0 5px 25px 0 #15f4ee inset, 0 5px 20px 0 #15f4ee,
        0 5px 25px 0 #15f4ee inset, 0 5px 20px 0 #15f4ee;
    text-shadow: 0 0 5px #15f4ee, 0 0 5px #15f4ee;
    background-color: #01254300;
    transform: scale(1.1);
}

.image-container img {
  width: 350px;
  max-width: 100%;
}

.features {
  display: flex;
  justify-content: space-around;
  padding: 60px 40px;
  background-color:rgba(0, 0, 0, 0.7);
  flex-wrap: wrap;
}

.card {
  max-width: 300px;
  padding: 20px;
  margin: 20px;
  background: rgba(20, 20, 30, 0.5);
  border-radius: 12px;
  box-shadow: 0 0 20px rgba(0, 255, 255, 0.2);
  transition: all 0.4s;
}

.card:hover {
    transform: scale(1.4);
    box-shadow: 0 0 40px rgba(0, 255, 255, 0.407);
}

.card h3 {
  color: #66ccff;
  margin-bottom: 10px;
}

.card p {
  font-size: 14px;
  color: #d0eaff;
}