{% load static %}

<link rel="stylesheet" href="{% static 'css/estilos_login.css' %}">
<div class="login-base">
    <div class="login-container">
        <form method="POST">
        {% csrf_token %}
            <h2>Recuperar contraseña</h2>
            <p>Ingresá tu email para recibir un enlace de recuperación:</p>

            <div class="input-box">
                <span class="icon"><ion-icon name="mail"></ion-icon></span>
                {{ form.email }}
                <label>Email</label>
                <div class="input-line"></div>
            </div>

            <button type="submit">Enviar enlace</button>

            <div class="register-link">
                <a href="{% url 'signin' %}">Volver al login</a> 
            </div>
        </form>
    </div>
</div>