{% load static %}

<link rel="stylesheet" href="{% static 'css/estilos_login.css' %}">
<div class="login-base">
    <div class="login-container">
        <form method="POST">
        {% csrf_token %}
            <h2>Nueva contraseña</h2>

            {% if validlink %}
                <div class="input-box">
                    {{ form.new_password1 }}
                    <label>Nueva contraseña</label>
                    <div class="input-line"></div>
                </div>

                <div class="input-box">
                    {{ form.new_password2 }}
                    <label>Confirmar nueva contraseña</label>
                    <div class="input-line"></div>
                </div>

                <button type="submit">Actualizar contraseña</button>
            {% else %}
                <p>El enlace no es válido o ha expirado.</p>
            {% endif %}
        </form>
    </div>
</div>
