<!--{% load static %}-->

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" type="img/png" href="img/favicon-game.png">
    <title>TGZ | Login</title>
    <link rel="stylesheet" href="{% static 'css/signin.css' %}">
    <script src="https://kit.fontawesome.com/cd10d9582d.js" crossorigin="anonymous"></script>
</head>
<body>
    
    <div class="login-container">

            <!-- inicio Mostrar mensajes -->
        {% if messages %}
            <div class="messages">
                {% for message in messages %}
                    <p class="{% if message.tags %}{{ message.tags }}{% endif %}">
                        {{ message }}
                    </p>
                {% endfor %}
            </div>
        {% endif %}
        <!-- final Mostrar mensajes -->

        <form action="#" method="POST">
                {% csrf_token %}
            <input type="checkbox" class="input-check" id="input-check">
            <label for="input-check"></label>

            <h2>Auth Login</h2>

            <div class="input-box">
                <span class="icon">
                    <ion-icon name="mail"><i class="fa-solid fa-user"></i></ion-icon>
                </span>
                <input type="email" required="required" name="email" value="{{ request.POST.email }}">
                <label for="email">Email</label>
                <div class="input-line"></div>
            </div>

            <div class="input-box">
                <span class="icon">
                    <ion-icon name="lock-closed"><i class="fa-solid fa-lock"></i></ion-icon>
                </span>
                <input type="password" required="required" name="password">
                <label for="password">Password</label>
                <div class="input-line"></div>
            </div>

            <div class="remember-forgot">
                <label for="">
                    <input type="checkbox" name="remember_me">
                    Remember Me
                </label>
                <a href="{% url 'password_reset' %}">Forgot Password?</a>
            </div>

            <button type="submit">Login</button>

            <button  onclick="window.history.back()">Volver</button>

            <div class="register-link">
                <p>Don't have an account? <a href="/login/signup/">Sign Up</a></p>
            </div>
        </form>
    </div>
</body>
</html>