{% load static %}

{% block content %}

<link rel="stylesheet" href="{% static 'css/estilos_login.css' %}">

<div class="login-base">
    <div class="login-container">
        <form action="#" method="POST">
            <input type="checkbox" class="input-check" id="input-check">
            <label for="input-check"></label>

            <h2>Auth Login</h2>
                {{error}}
                {% csrf_token %}

            <div class="input-box">
                <span class="icon">
                    <ion-icon name="mail"><i class="fa-solid fa-user"></i></ion-icon>
                </span>
                <input type="text" required="required" name="username" id="username">
                <label for="username">Email</label>
                <div class="input-line"></div>
            </div>

            <div class="input-box">
                <span class="icon">
                    <ion-icon name="lock-closed"><i class="fa-solid fa-lock"></i></ion-icon>
                </span>
                <input type="password" required="required" name="password" id="password">
                <label for="password">Password</label>
                <div class="input-line"></div>
            </div>

            <div class="remember-forgot">
                <label for="">
                    <input type="checkbox">
                    Remember Me
                </label>
                <a href="#">Forgot Password?</a>
            </div>

            <button type="submit">Login</button>

            <div class="register-link">
                <p>Don't have an account? <a href="#">Sign Up</a></p>
            </div>
        </form>
    </div>
</div>

{% endblock %}

<!-- <div class="loginBase">
    <div class="login-container">
        <form action="#" method="POST">
            <input type="checkbox" class="input-check" id="input-check">
            <label for="input-check"></label>

            <h2>Ingresar a su usuario</h2>
                {{error}}
                {% csrf_token %}

            <div class="input-box">
                <span class="icon">
                    <ion-icon name="mail"></ion-icon>
                </span>
                <input type="text" required="required" name="username" id="username" placeholder="">
                <label for="username">Email</label>
                <div class="input-line"></div>
            </div>

            <div class="input-box">
                <span class="icon">
                    <ion-icon name="lock-closed"></ion-icon>
                </span>
                <input type="password" required="required" name="password" id="password"
                placeholder="">
                <label for="password">Password</label>
                <div class="input-line"></div>
            </div>

            <div class="remember-forgot">
                <label for="">
                    <input type="checkbox">
                    Recordarme
                </label>
                <a href="#">¿Has olvidado tu contraseña?</a>
            </div>

            <button type="submit">Login</button>

            <div class="register-link">
                <p>No tienes cuenta? <a href="/signup/">Inscribirse</a></p>
            </div>
        </form>
    </div>
</div> -->