{% extends 'blog/base.html' %}

{% block title %}Publicar nueva reseña{% endblock %}

{% block content %}
<div class="container mt-4">
    <div class="card shadow rounded p-4 bg-body-secondary">
        <h2 class="mb-3">📝 Publicar nueva reseña</h2>
        <form method="post" enctype="multipart/form-data" class="mb-4">
            {% csrf_token %}
            <div class="mb-3">
                {{ form.as_p }}
            </div>
            <button type="submit" class="btn btn-primary">Publicar</button>
            <a href="{% url 'home' %}" class="btn btn-secondary ms-2">Volver al inicio</a>
        </form>
    </div>
</div>
{% endblock %}
