{% extends 'blog/base.html' %}

{% block content %}
  <h1>Juegos para Descargar</h1>
  <ul>
    {% for juego in juegos %}
      <li>
        <h2>{{ juego.titulo }}</h2>

        {% if juego.imagen %}
          <img src="{{ juego.imagen.url }}" alt="{{ juego.titulo }}" width="300" class="mb-2">
        {% endif %}

        <p>{{ juego.descripcion }}</p>

        {% if juego.archivo %}
          <a href="{{ juego.archivo.url }}" class="btn btn-primary">Descargar</a>
        {% else %}
          <p>No hay archivo disponible.</p>
        {% endif %}
      </li>
    {% empty %}
      <li>No hay juegos disponibles.</li>
    {% endfor %}
  </ul>
{% endblock %}

