{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'css/crear_post.css' %}">
    <link rel="icon" type="image/png" href="img/favicon-game.png">
    <script src="https://kit.fontawesome.com/cd10d9582d.js" crossorigin="anonymous"></script>
    <title>TGZ | Editar Posteo</title>
</head>
<body>


    <header>
        <nav class="navbar">
            <input type="checkbox" class="menu-checkbox" id="hamburger-menu">
            <label class="hamburger-label" for="hamburger-menu">
                <i class="fas fa-bars"></i>
            </label>
            <div class="perfil-usuario">
                <input type="checkbox" class="menu-checkbox" id="perfil-menu">
                <label class="menu-label" for="perfil-menu">
                    {% if perfil and perfil.imagen %}
                    <img src="{{perfil.imagen.url}}" alt="Perfil user logeado">
                    {% else %}
                    <img src="{% static 'img/perfiles/default.png' %}" alt="Perfil por defecto">
                    {% endif %}
                    <span>{{request.user.username}}</span>
                </label>
                <p></p>
                <div class="dropdown-menu">
                    <a href="{% url 'perfil' %}" class="dropdown-item">Ver Perfil</a>
                    <a href="{% url 'editar_usuario' user.id %}" class="dropdown-item">Editar Perfil</a>
                    <a href="{% url 'usuarios_list' %}" class="dropdown-item">Lista de Usuarios</a>
                    <a href="{% url 'apps.blog:crear_resena' %}" class="dropdown-item">Crear Posteo</a>
                    <a href="{% url 'logout' %}" class="dropdown-item">Cerrar Sesión</a>
                </div>
            </div>
            <ul class="nav-links">
                <li><a href="{% url 'apps.blog:home' %}">INICIO</a></li>
                <li><a href="{% url 'apps.blog:blog' %}">BLOG</a></li>
                <li><a href="{% url 'nosotros' %}">NOSOTROS</a></li>
                <li><a href="{% url 'contacto' %}">CONTACTO</a></li>
            </ul>
            <div class="hamburger-menu">
                <ul class="hamburger-links">
                    <li class="perfil-mobile">
                        <input type="checkbox" class="menu-checkbox" id="perfil-menu-mobile">
                        <label class="menu-label" for="perfil-menu-mobile">
                            <div class="perfil-usuario-mobile">
                                {% if perfil and perfil.imagen %}
                                <img src="{{perfil.imagen.url}}" alt="Perfil user logeado">
                                {% else %}
                                <img src="{% static 'img/perfiles/default.png' %}" alt="Perfil por defecto">
                                {% endif %}
                                <span>{{request.user.username}}</span>
                            </div>
                        </label>
                        <ul class="perfil-submenu">
                            <li><a href="{% url 'perfil' %}" class="dropdown-item">Ver Perfil</a></li>
                            <li><a href="{% url 'editar_usuario' user.id %}" class="dropdown-item">Editar Perfil</a></li>
                            <li><a href="{% url 'usuarios_list' %}" class="dropdown-item">Lista de Usuarios</a></li>
                            <li><a href="{% url 'apps.blog:crear_resena' %}" class="dropdown-item">Crear Posteo</a></li>
                            <li><a href="{% url 'logout' %}" class="dropdown-item">Cerrar Sesión</a></li>
                        </ul>
                    </li>
                    <li><a href="{% url 'apps.blog:home' %}">INICIO</a></li>
                    <li><a href="url 'apps.blog:blog' ">BLOG</a></li>
                    <li><a href="{% url 'nosotros'%}">NOSOTROS</a></li>
                    <li><a href="{% url 'contacto' %}">CONTACTO</a></li>
                </ul>
            </div>
            <div class="search-container">
                <label for="search-input" class="sr-only"></label><!--agregue un label-->
                <button class="search-btn" aria-label="Buscar"><i
                        class="fas fa-search"></i></button><!--agregue un aria label para mejorar la accebilidad y cambie el icono para que pegara con a estetica del blog-->
                <input type="text" id="search-input" placeholder="Search..."
                    class="search-input" /><!--agregue id para asociar label y facilitar javascript-->
            </div>
        </nav>
    </header>


    <div class="content">
        <div class="neon-text flickering">
            <h2 class="title">
                <span>EDITAR</span><br>
                <span>POSTEO</span>
            </h2>
        </div>
    </div>

    <section class="crear-posteo">
        <div class="posteo-content">
            <h3>Editar Posteo</h3>

            <form method="post" enctype="multipart/form-data" id="editar-posteo-form">
                {% csrf_token %}
                <div class="img-posteo-container">
                    {% if form.instance.imagen %}
                        <img src="{{ form.instance.imagen.url }}" alt="Vista previa" class="img-posteo">
                    {% else %}
                        <img src="{% static 'img/img-blog/imagen_predeterminada.jpg' %}" alt="Vista previa" class="img-posteo">
                    {% endif %}
                    <label for="post-pic-input" class="icon-container">
                        <i class="fa-regular fa-image"></i>
                    </label>
                    {{ form.imagen }}
                </div>

                <div class="input-box">
                    <span class="icon"><i class="fa-regular fa-pen-to-square"></i></span>
                    {{ form.titulo }}
                    <label for="titulo">Título</label>
                    <div class="input-line"></div>
                </div>

                <div class="input-box">
                    <span class="icon"><i class="fa-regular fa-pen-to-square"></i></span>
                    {{ form.descripcion }}
                    <label for="descripcion">Descripción</label>
                    <div class="input-line"></div>
                </div>

                <div class="input-box">
                    <span class="icon"><i class="fa-solid fa-list"></i></span>
                    {{ form.categoria }}
                    <label for="id_categoria">Categoría</label>
                    <div class="input-line"></div>
                </div>

                <div class="btn-container">
                    <button type="submit" class="btn-edit">GUARDAR CAMBIOS</button>
                    <a href="{% url 'apps.blog:blog' %}" class="btn-edit">CANCELAR</a>
                </div>
            </form>
        </div>
    </section>

    <script>
        // vista previa de imagen post
    document.getElementById("post-pic-input").addEventListener("change", function(event) {
        const file = event.target.files[0];
        if (file) {
            const reader = new FileReader();
            reader.onload = function(e) {
                document.querySelector(".img-posteo").src = e.target.result;
            };
            reader.readAsDataURL(file);
        }
    });
    </script>
</body>
</html>
